RewriteEngine On

# Redirect /page.html -> /page
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html[\s?] [NC]
RewriteRule ^([^.]+)\.html$ /$1 [R=301,L]

# Serve page.html when /page is requested
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^([^/.]+)/?$ $1.html [L]